[Unit]
Description=FastAPI
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/fastapi-demo

ExecStart=/home/ubuntu/.local/bin/poetry run \
uvicorn src.api.main:app \
--host 0.0.0.0 \
--port 8000

Restart=always

[Install]
WantedBy=multi-user.target